body {
    background-color: rgb(54, 55, 56);
    
    font-family: helvetica;
    text-align: center;
    color: rgb(255, 255, 255);
}

.main {
    padding: 2%;
    inline-size: auto;
    background-color: rgb(70, 70, 70);
    margin-left: 15%;
    margin-right: 15%;
    border: 2px;
    border-style: solid;
    overflow-wrap: normal;
}

#lazarimg {
    width: 25%;
    border-radius: 50%;
}