body {
    background-color: rgb(54, 55, 56);
    font-family: helvetica;
    text-align: center;
    color: rgb(255, 255, 255);
}

.main {
    display: inline-block;
    padding: 2%;
    inline-size: auto;
    background-color: rgb(70, 70, 70);
    margin-left: 15%;
    margin-right: 15%;
    border: 1px;
    border-style: solid;
    overflow-wrap: normal;
}

a:link, a:visited, a:hover, a:active {
    color: rgb(231, 225, 225);
}


footer {
    padding: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: rgb(231, 225, 225);
    display: inline;
    padding: 1%;
}

#lazarimg {
    width: 20%;
    border-radius: 50%;
}