{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <title>Lazar Vukicevic</title>
</head>
<body>
    <div class="main">
        <img src="{% static 'home/dune.jpg' %}" alt="Picture of Lazar" id="lazarimg">
        <h1>Lazar Vukicevic</h1>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'resume' %}">Resume</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <br>
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        GitHub | Linkedin
    </footer>
</body>
</html>